.width-80 {
    width: 60%;
    margin: 0 auto;
}

article {
    width: 100%;
    padding: 2rem 0;
}

legend {
    text-transform: capitalize;
}

@media screen and (max-width: 600px) {
    .width-80 {
        width: 90%;
        margin: 0 auto;
    }
}