.Tilt {
    background: rgb(174,202,238);
    background: linear-gradient(90deg, rgba(174,202,238,1) 0%, rgba(238,174,202,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}